/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-tc-<uniquifier> {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000000;
}
body{
  font-family: 'Noto Sans TC','Noto Sans',sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0%;
  background: rgba(251, 251, 251, 1);

}
img{
  display: block;
}
.container{
  max-width: 100vw;
  height: auto;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: center;
  padding: 24px 0;
  gap:40px;
}
.head-link{
  font-size: 28px;
  font-weight: 700;
}
.pg1{
  /* max-width: 600px;  */
  width: 100%; 
}
.pg1 .personal-image{
  display: block;
  width: 100%;
  /* max-width: 600px;     保證最大寬度不超過 375px */
      /* 置中 */
}
.pg1 .personal-image img {
  width: 100%;          /* 讓圖片響應式寬度縮放 */
  height: auto;         /* 等比例縮放 */
}
.pg1-textbox{
  background-image: url("images\desktop\index\Hero-Section2.png");
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pg1-textbox h1{
  font-size: 52px;
  font-weight: 900;
  color: rgba(0, 39, 213, 1);
}
.ft-format1-bl{
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 39, 213, 1);
}
@media(min-width: 755px){
  .pg1{
    display: flex;
  }
  .pg1 .personal-image{
    width: 50vw;
  }
  .pg1-textbox{
    width: 50vw;
    justify-content: center;
  }
  .pg1-textbox h1{
    font-size: 120px;
  }
}
.bl{
  color: rgba(0, 39, 213, 1);
}
.btn{
  display: inline-block;
  width: 96px;
  border-radius: 40px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #000000;
  text-align: center;
}
.btn-bl{
  background-color:  rgba(0, 39, 213, 1);
  color: #fff;
  border: 0 ;
}
.pg2{
  border: 1px solid rgba(108, 117, 125, 1)
}
.pg2, .pg2-image{
  display: block;
  width: 100%;
  overflow: hidden;
}
.pg2-image img{
  width: 100%;
}
.pg2-content{
  display: flex;
  padding: 48px 12px;
}
.card-format{
  display: flex;
  flex-direction: column;
  gap:24px;
}
.hot-topic{
  display: flex;
  align-items: center;
  gap: 8px;
}
.ftsz-24{
  font-size: 24px;
  font-weight: 500;
}
.ftsz-28{
  font-size: 28px;
  font-weight: 700;
}
.hidden2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media(min-width: 755px){
  .pg2{
    display: flex;
    justify-content: space-between;
    gap:24px;
  }
  .pg2-image{
    display: inline-block;
    width:50%;
  }
  .pg2-image img{
 
  }
  .pg2-content{
    width: 50%;
    align-items: center;
  }
}