/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-tc-<uniquifier> {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000000;
}
body{
  font-family: 'Noto Sans TC','Noto Sans',sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0%;
  background: rgba(251, 251, 251, 1);

}
img{
  display: block;
  width: 100%;
}
.container{
  max-width: 100vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  display: flex;
  justify-content: center;
  padding: 24px 0;
  gap:40px;
}
.head-link{
  font-size: 28px;
  font-weight: 700;
}
.pg1{
  /* max-width: 600px;  */
  width: 100%; 
}
.pg1 .personal-image{
  display: block;
  width: 100%;
  /* max-width: 600px;     保證最大寬度不超過 375px */
      /* 置中 */
}
.pg1 .personal-image img {
  width: 100%;          /* 讓圖片響應式寬度縮放 */
  height: auto;         /* 等比例縮放 */
}
.pg1-textbox{
  background-image: url("../images/desktop/index/Hero-Section2.png");
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pg1-textbox h1{
  font-size: 52px;
  font-weight: 900;
  color: rgba(0, 39, 213, 1);
}
.ft-format1-bl{
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 39, 213, 1);
}
@media(min-width: 800px){
  .pg1{
    display: flex;
  }
  .pg1 .personal-image{
    width: 50vw;
  }
  .pg1-textbox{
    width: 50vw;
    justify-content: center;
  }
}
@media(min-width: 1440px){
    .pg1-textbox h1{
    font-size: 120px;
  }
}
.pg1-notebox{
  padding: 40px 24px;
  gap: 24px;
  flex-direction: column;
  margin: 0 12px;
  background: #fff;
  border-radius: 30px;
}
.flex, .flexsb, .flexco{
  display: flex;
}
.flexsb{
  justify-content: space-between;
  align-items: center;
}
.flexco{
  flex-direction: column;
}
.icon, .pg2-container{
  width: 100%;
}
.flcc, .icon-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-box{
  width: 44px;
  height: 44px;
}
.ftsz-24{
  font-size: 24px;
  font-weight: 500;
}
.ftsz-28{
  font-size: 28px;
  font-weight: 700;  
}
.ftsz-48{
  font-size: 48px;
  font-weight: 700;  
}
.copy_rights{
  padding: 24px 0px;
  text-align: center;
}
@media(min-width: 800px){
  .pg1-notebox{
    width: 80%;
    transform: translate(10% ,-10%);
  }
}
@media(min-width: 1000px){
  .pg1-notebox{
    width: calc(1077% / 19.2);
    transform: translate(30% ,-35%);
  }
}
.pg2{
  width: 100%;
  border-bottom: 1px solid rgba(108, 117, 125, 1)
}
.pg2-container{
  max-width: 1296px;
  padding: 64px 12px;
  gap: 32px;
  margin: 0 auto;
}
.vector{
  width: 30px;
  vertical-align: middle;
  margin: 20px 5px;
}
.arrow{
  width: 40px;
  height: 40px;
}
.contact-box{
  align-items: end;
  margin-top: -32px;
}
.card-format1{
  margin-bottom: 32px;
}
.card-text1{
  padding: 24px;
  background-color: #fff;
}
.card-text1 h4{
  margin-bottom: 8px;
}
@media(min-width: 1100px){
  .content-box{
    padding: 0 100px;
  }
  .card-format1{
    display: flex;
  }
  .card-format1 img{
    width: calc(50%-12px);
  }
  .rev{
    flex-direction: row-reverse;
  }  
  .card-text1{
    z-index: 1;
    margin: 0 -10%;
  }
  .contact-box{
    flex-direction: row;
    justify-content: end;
  }
}